body{padding:0px;
  margin:0 auto;
  border:0;
}

/**** begin clearfix ****/
.cf:before, .cf:after {content: ' ';display: table;}
.cf:after {clear: both;}

.cf>.fl {float: left;}
.cf>.fr {float: right;}
/**** end clearfix ****/


#hdr{background-color: #c080c0;}
#ftr{background-color: rgb(202,189,205);}
ul{margin; 0;
padding:0;
list-style: none;}
li{display: block;}
#nav ul {
    text-align: center;
}
#cta ul{text-align: center;}
#cta li{display:inline-block;
width:76px;
height:76px;} 
#cta a:before{font-size:48px; line-height:1;display:block;margin:0 auto 4px; text-align:center;}

#nav ul {margin:0 auto;}
#nav li {margin:0 auto;}
#nav li+li {margin-top:1px;}
#nav a {display:block; padding:1em; background:rgb(160, 143, 166); color:rgb(248, 245, 239); text-decoration:none;}
#nav a:hover {background:rgb(248, 245, 239); color:rgb(160, 143, 166);} 

#ftr-nav a {display:block;}
#hero li
{height:320px; overflow:hidden; text-align:center;}

.cards	{margin:0 8px;}
.cards li {box-shadow:0 0 4px rgba(114, 98, 119, 0.25);}

.cards strong {display:block; margin:8px auto;}
.cards strong:before  {display:block; height:auto; min-height:128px; content:' '; background:rgb(114, 98, 119) center top; background-size:auto 100%;}

	.cards .c-1460 strong:before	{background-image:url(../img/1460.jpg);}
	.cards .c-1461 strong:before	{background-image:url(../img/1461.jpg);}
	.cards .c-1468 strong:before	{background-image:url(../img/1468.jpg);}
	.cards .c-1479 strong:before	{background-image:url(../img/1479.jpg);}
	.cards .c-1481 strong:before	{background-image:url(../img/1481.jpg);}
	.cards .c-1483 strong:before	{background-image:url(../img/1483.jpg);}
	.cards .c-1485 strong:before	{background-image:url(../img/1485.jpg);}
	.cards .c-1509 strong:before	{background-image:url(../img/1509.jpg);}

.cards em {display:block; margin:8px auto; padding-top:8px; border-top:1px solid rgb(114, 98, 119);}
.cards em:before  {display:inline-block; float:left; width:36px; height:36px; margin-right:8px; background:rgb(114, 98, 119); content:' '; overflow:hidden;}

.cards a {display:block; clear:both; background-color:rgb(114, 98, 119); color:#ffffff;}
.cards a:hover {background-color:rgb(192, 128, 192);}

#hero img {max-height:320px; height:320px; width:auto;}


/**** SCALE IT UP ****/
@media screen and (min-width: 320px) {}

@media screen and (min-width: 400px) {}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 640px) {
	/*#hero img {max-width:100%; height:auto; width:100%;}*/
}

@media screen and (min-width: 960px) {}

@media screen and (min-width: 1024px) {}


