body{padding:0px;
  margin:0 auto;
  border:0;
}

/**** begin clearfix ****/
.cf:before, .cf:after {content: ' ';display: table;}
.cf:after {clear: both;}

.cf>.fl {float: left;}
.cf>.fr {float: right;}
/**** end clearfix ****/


#hdr{background-color: purple;}
#ftr{background-color: rgb(202,189,205);}
ul{margin; 0;
padding:0;
list-style: none;}
li{display: block;}
#nav ul {
    text-align: center;
}
#cta ul{text-align: center;}
#cta li{display:inline-block;
width:76px;
height:76px;}

#nav ul {margin:0 auto;}
#nav li {margin:0 auto;}
#nav li+li {margin-top:1px;}
#nav a {display:block; padding:1em; background:rgb(160, 143, 166); color:rgb(248, 245, 239); text-decoration:none;}
#nav a:hover {background:rgb(248, 245, 239); color:rgb(160, 143, 166);} 

#ftr-nav a {display:block;}
#hero li
{height:240px;}

.cards li {box-shadow:0 0 4px rgba(114, 98, 119, 0.25);}

.cards strong {display:block; margin:8px auto;}
.cards strong:before  {display:block; height:auto; min-height:128px; content:' '; background:rgb(114, 98, 119);}

.cards em {display:block; margin:8px auto; padding-top:8px; border-top:1px solid rgb(114, 98, 119);}
.cards em:before  {display:inline-block; float:left; width:36px; height:36px; margin-right:8px; background:rgb(114, 98, 119); content:' '; overflow:hidden;}

.cards a {display:block; background-color:rgb(114, 98, 119); color:#ffffff;}
.cards a:hover {background-color:rgb(192, 128, 192);}


